<div class="sidebar">
    <div class="sidebar-wrapper">

        <div class="logo">
            <a href="/" class="simple-text logo-normal">
                Home
            </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
            <li class="active ">
                <a href="/opra/sessions/{{ id }}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Client Info</p>
                </a>
            </li>
            <li>
                <a href="javascript:cmd({{ id }})">
                    <i class="tim-icons icon-atom"></i>
                    <p>RUN COMMAND</p>
                </a>
            </li>

            {% if session.type == "shell" %}
            <li class="active ">
                <i class="tim-icons icon-compass-05"></i>
                <a href="/opra/meterpreter/{{ id }}">shell_to_meterpreter</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        <script>

        </script>

    </div>
</div>