<div class="sidebar">
    <div class="sidebar-wrapper">

        <div class="logo">
            {# <a target="_blank" href="" class="simple-text logo-mini">#}
                {# Register#}
                {# </a>#}
            <a href="/" class="simple-text logo-normal">
                Home
            </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">

            <!-- <li class="active ">
                <a href="/gvm">
                    <i class="tim-icons icon-world"></i>
                    <p id="icon">GVM</p>
                </a>

            </li> -->
            <li class="active ">
                <a href="/gvm/target">
                    <i class="tim-icons icon-zoom-split"></i>
                    <p id="icon">Targets</p>
                </a>
            </li>

            <li class="active ">
                <a href="/gvm/task">
                    <i class="tim-icons icon-world"></i>
                    <p id="icon">Tasks</p>
                </a>
            </li>



            <li class="active ">
                <a href="/">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p id="icon">Exploit</p>
                </a>
            </li>

            <li class="active ">
                <a href="javascript:terminal()">
                    <i class="tim-icons icon-tv-2"></i>
                    <p id="icon">SSH</p>
                </a>
            </li>

            <div>
                <li class="active ">
                    <a href="javascript:sessions();">
                        <i class="tim-icons icon-atom"></i>
                        <p id="icon"> Sessions</p>


                    </a>
                    <ul id="session">
                    </ul>
                </li>
            </div>
            <li class="active ">
                <a href="/opra/report_metasploit/">
                    <i class="tim-icons icon-world"></i>
                    <p id="icon">Report Metasploit</p>
                </a>
            </li>








        </ul>
        <script>
            async function sessions() {
                let data = await fetch("/opra/sessions/");
                var json = await data.json();
                let text = ""
                for (let i in json['sessions']) {
                    text += "<li><a href=\"/opra/sessions/" + eval(Number(i)) + " \"target=\"_blank\" \">" + json['sessions'][i]['session_host'] + " type:" + json['sessions'][i]['type'] + "</a></li>"
                }
                document.getElementById('session').innerHTML = text;
            }
            sessions()
            function terminal() {
                document.getElementById('content').innerHTML = '<iframe style="border:none;" width="100%" height="600px" src="/terminal/" title="SSH"></iframe>'
            }
        </script>
        {% endif %}
    </div>
</div>