{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Register {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    label,
    input,
    textarea {
        display: inline-block;
        margin-bottom: 10px;
    }

    label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }
</style>
{% endblock stylesheets %}

{% block content %}



<div id="content">
    {{version}}
    <h2>Auto Select Module for: {{name}}</h2>
    <form action="/" method="post" id="form" onsubmit="javascript:validateForm(event)">
        <label for="hostname">Hostname :</label>
        <input type="text" id="hostname" name="ip" value="{{host}}" required>
        <br>
        <label for="exploit">Exploit :</label>
        <select type="text" id="exploit" name="exploit" placeholder="select module" required>
            {% for exploit in exploits %}
            <option value="{{ exploit.module }}">{{ exploit.name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="payload">Payload :</label>
        <input type="text" id="payload" name="payload" required list="payload-options" size="80">
        <datalist required id="payload-options">
            <option value="">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </option>
        </datalist>
        <input name="rport" type="text" value="{{port}}" hidden>
        <label for="targetURI">targetURI :</label>
        <input name="targetURI" id="targetURI" type="text" value="{{targetURI}}">
        {% csrf_token %}
        <br>
        <input type="submit" name="submit">
    </form>
    <div>
        <div class="container">
            <h2>OUTPUT</h2>
            <div class="" style="width: 800px; height: 500px">

                <label for="chatLog"><label id="id"></label></label>
                <textarea style="width: 800px; height: 500px" class="bg-dark text-white" id="chatLog"
                    readonly></textarea>

                <!-- {# <div class="input-group">#}
                {# <input type="text" class="form-control bg-dark text-white" id="chatMessageInput"
                    placeholder="Enter your chat message">#}
                {# <div class="input-group-append">#}
                    {# <button class="btn btn-success" id="chatMessageSend" type="button">Send</button>#}
                    {# </div>#}
                {# </div>#} -->
            </div>
            {{ id|json_script:"roomName" }}
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var optionA = document.getElementById("exploit");
    var optionB = document.getElementById("payload-options");

    optionA.addEventListener("change", function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/opra/exploit/?module=" + optionA.value);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function () {
            if (xhr.status === 200) {
                var options = JSON.parse(xhr.responseText)['payloads'];
                console.log(options)
                optionB.innerHTML = "";
                for (var i = 0; i < options.length; i++) {
                    optionB.innerHTML += "<option value='" + options[i] + "'>" + options[i] + "</option>";
                }
                required = JSON.parse(xhr.responseText)['required'];
                console.log(required)
            }
        };
        xhr.send();
    });

    console.log("Sanity check from room.js.");
    let chatLog = document.querySelector("#chatLog");
    let chatMessageInput = document.querySelector("#chatMessageInput");
    let chatMessageSend = document.querySelector("#chatMessageSend");
    let socket = new WebSocket("ws://" + document.location.host + "/ws/message/" + document.querySelector("#id").textContent);
    socket.onmessage = (event) => {
        chatLog.value += JSON.parse(event.data)['message'] + '\n'
    };
    // socket.onclose = function(event) {
    //   if (event.wasClean) {
    //     console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
    //   } else {
    //     // e.g. server process killed or network down
    //     // event.code is usually 1006 in this case
    //     chatLog.value+='[close] Connection died!'+"\n"
    //   }
    // };
    console.log(socket)
    // focus 'chatMessageInput' when user opens the page
    chatMessageInput.focus();

    // submit if the user presses the enter key
    chatMessageInput.onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter key
            chatMessageSend.click();
        }
    };
    // clear the 'chatMessageInput' and forward the message

    chatMessageSend.onclick = function () {
        if (chatMessageInput.value.length === 0) return;
        if (chatMessageInput.value === "clear") chatLog.value = "";
        // TODO: forward the message to the WebSocket
        else {
            chatLog.value += ">> " + chatMessageInput.value + "\n";
            socket.send(JSON.stringify({ 'message': chatMessageInput.value }));
        }
        chatMessageInput.value = "";
    };
    function validateForm(event) {
        event.preventDefault();
        const form = document.querySelector('#form')
        const formData = new FormData(form);
        fetch('/', {
            method: 'POST',
            body: formData,
        }).then(data => console.log(data))
            .catch(error => console.error(error));
        return false;
    }
</script>
{% endblock javascripts %}